@import "tailwindcss";
@plugin "daisyui" {
  themes: forest, dark, emerald, synthwave, corporate, coffee, night, dracula;
}

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
    word-wrap: break-word;
  }
}
